/* CONTENEUR PRINCIPAL */

.about {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: var(--color-primary);
      
    }

    /* TEXT */ 

    .about-text {
        color: var(--text-dark);
        text-align: left;
        flex: 1;
        
    }

